.title {
    margin-bottom: 24px;
    h2 {
        font-size: 2.4rem;
        font-weight: 900;
    }
}
.category-content {
    background-color: var(--white);
    border: 1px solid var(--border-form);
    border-radius: var(--border-radius-form);
    padding: 20px;
    .create-category {
        .btn-create-category {
            padding: 10px;
            width: 100%;
        }
    }
    .list-category {
    }
}
