.account {
    padding: 50px 0;
    .nav {
        width: 20%;
        .top {
            height: 80px;
            border-bottom: 1px solid #e3e3e3;
            .img {
                height: 50px;
                width: 50px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    border-radius: 50%;
                }
            }
            .name {
                margin-left: 20px;
                h6 {
                    margin: 0;
                    font-weight: 600;
                }
                a {
                    font-size: 14px;
                    color: #949393;
                    span {
                        margin-left: 5px;
                    }
                }
            }
        }
        ul {
            margin: 30px 0 0 0;
            padding: 0;
            li {
                margin-bottom: 20px;
                width: fit-content;
                a {
                    // color: var(--text);
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    .icon {
                        font-size: 20px;
                        width: 20px;
                        margin-right: 10px;
                    }
                    span {
                        margin-top: 3px;
                    }
                }
                li {
                    margin-left: 40px;
                    margin-top: 20px;
                    width: fit-content;
                }
            }
        }
        a {
            &:hover {
                color: var(--primary-color-web);
            }
        }
    }

    .main {
        width: 80%;
        .header {
            border-bottom: 1px solid #e3e3e3;
            padding-bottom: 12px;
            h5 {
                text-transform: capitalize;
                font-size: 20px;
                margin: 0;
            }
            p {
                color: #333232;
                font-size: 16px;
                margin: 0;
            }
        }
        .account {
            margin-top: 30px;
            label {
                color: rgb(114, 114, 114);
                font-size: 16px;
                width: 200px;
                text-align: end;
                margin-right: 30px;
            }
            input[type='text'] {
                width: 300px;
            }
            textarea {
                width: 300px;
                height: 100px;
            }
            .profile-info {
                border-right: 1px solid #e3e3e3;
                width: 70%;
                span {
                    label {
                        width: 20px;
                    }
                    input {
                        margin-right: 5px;
                    }
                }
            }

            .profile-img {
                width: 30%;
                .img {
                    width: 150px;
                    height: 150px;
                    margin-bottom: 20px;
                    border-radius: 50%;
                    border: 1px solid var(--primary-color-web);
                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        object-fit: contain;
                    }
                }
                label {
                    padding: 10px 20px;
                    border: 1px solid #e3e3e3;
                    text-transform: capitalize;
                    border-radius: 3px;
                    cursor: pointer;
                    text-align: center;
                    margin-right: 0;
                }
            }
            button {
                border: none;
                background-color: var(--primary-color-web);
                padding: 5px 40px;
                border-radius: 5px;
                color: var(--white);
                font-size: 18px;
                margin-left: 230px;
                margin-top: 30px;
            }
        }
        .nav-purchase {
            border-bottom: 1px solid #b8b6b6;
            padding: 0;
            ul {
                margin: 0;
                padding: 0;
                a {
                    font-size: 17px;
                    display: block;
                    padding: 14px 0px;
                }
                li {
                    text-align: center;
                    width: calc(100% / 6);
                    cursor: pointer;
                    &:hover {
                        a {
                            color: var(--primary-color-web);
                        }
                    }
                }
            }
        }
        .purchase {
            .cart-list {
                width: 100%;
                .wapper {
                    padding: 20px 20px 0 20px;
                }
                .cart-header {
                    color: #26aa99;
                    span {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    border-bottom: 1px solid #e3e3e3;
                    padding-bottom: 10px;
                }
                .cart-item {
                    color: var(--black);
                    margin-bottom: 10px;
                }
                .cart-details {
                    padding: 10px 0;
                    .name {
                        h4 {
                            font-size: 20px;
                            font-weight: 700;
                            margin-left: 20px;
                        }
                    }
                    .infor {
                        h4 {
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }
                    span {
                        display: block;
                        font-size: 16px;
                        color: grey;
                        margin-bottom: 40px;
                    }
                    h5 {
                        font-size: 16px;
                        text-align: end;
                    }
                }
                .money {
                    padding: 20px;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
                    background-color: #fffdf6;
                    h5 {
                        margin: 5px 10px 0 5px;
                        padding: 0;
                        font-size: 17px;
                        line-height: 18px;
                    }
                    span {
                        font-size: 24px;
                        color: var(--primary-color-web);
                        margin-top: 5px;
                    }
                }
            }
            .active {
                a {
                    color: var(--primary-color-web);
                }
                border-bottom: 2px solid var(--primary-color-web);
            }
        }
        .address-list {
            div:last-child {
                border-bottom: none;
            }
            .address-item {
                margin-top: 10px;
                padding-bottom: 20px;
                border-bottom: 1px solid #e3e3e3;
                .address {
                    .name-phone {
                        span {
                            padding: 5px 10px 5px 0px;
                        }
                        .name {
                            border-right: 1px solid #b8b6b6;
                        }
                        .phone {
                            margin-left: 10px;
                            opacity: 0.6;
                        }
                    }
                    .address-content {
                        p {
                            margin: 0;
                            font-size: 14px;
                            opacity: 0.7;
                        }
                    }
                    .label {
                        margin-top: 5px;
                        span {
                            font-size: 14px;
                            padding: 3px 8px 2px 8px;
                            border: 1px solid var(--primary-color-web);
                        }
                    }
                }
            }
        }
        .product-like-list {
            .cart-details:last-child {
                border: none;
            }
            .cart-details {
                border-bottom: 1px solid #e3e3e3;
                padding-bottom: 10px;
                .infor {
                    .cart-image {
                        height: 100px;
                        width: 100px;
                        img {
                            object-fit: contain;
                        }
                    }
                    .name-des {
                        margin: 12px 0 0 5px;
                        h4 {
                            margin: 0;
                            padding: 0;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }
                }
                .control {
                    margin-top: 5px;
                    span {
                        display: block;
                        font-size: 24px;
                        cursor: pointer;
                        :hover {
                            opacity: 0.9;
                        }
                    }
                    .like {
                        color: var(--primary-color-web);
                        opacity: 0.6;
                    }
                    .add-cart {
                        color: var(--primary-color-web);
                    }
                }
            }
        }
        .review {
            .review-header {
                font-size: 14px;
                padding: 15px 0;
                .time {
                    color: #7e7d7d;
                }
            }
            .review-rating {
                .image {
                    img {
                        height: 60px;
                        width: 60px;
                        object-fit: contain;
                    }
                }
                .rating {
                    margin-left: 10px;
                    .info-product {
                        h6 {
                            margin: 0;
                            font-size: 16px;
                            font-weight: 600;
                        }
                        p {
                            margin: 0;
                            color: #7e7d7d;
                            font-size: 14px;
                        }
                    }
                    .star {
                        margin-top: 5px;
                        .rating-star {
                            .container-star {
                                font-size: 28px;
                                .icon-rating {
                                    margin-right: 5px;
                                    color: #faca51;
                                }
                            }
                            .text-rating {
                                margin-left: 5px;
                                font-size: 14px;
                            }
                        }
                    }
                    .input-title {
                        font-size: 14px;
                        margin: 10px 0;
                    }
                    .input-wrap {
                        span {
                            border-color: #eff0f5;
                            border-radius: 2px;
                            font-size: 0;
                            display: inline-table;
                            border-collapse: separate;
                            overflow: visible;
                            border: 1px solid #eff0f5;
                            border-spacing: 0;
                            background-color: #fff;
                            transition: all 0.3s ease-out;
                            &hover {
                                border-color: #9e9e9e;
                                background-color: #fff;
                            }
                            textarea {
                                width: 100%;
                                border: none;
                                outline: none;
                                padding: 12px;
                                font-size: 14px;
                                font-weight: 400;
                                vertical-align: baseline;
                                background-color: transparent;
                                resize: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .active {
        color: var(--primary-color-web);
    }
}
