.navbar {
    height: 70px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    .wrapper {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search {
            width: 500px;
            height: 40px;
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            border-radius: 7px;
            padding: 3px;
            input {
                border: none;
                outline: none;
                background: transparent;
                height: 100%;
                &::placeholder {
                    font-size: 12px;
                }
            }
        }
    }
}
