.navbar {
    height: 70px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    .wrapper {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
