.content-main {
    .top {
        display: flex;
        justify-content: space-between;
        background-color: #f7f7f7;
        input {
            width: 320px;
        }
        .filter {
            display: flex;
            .status {
                margin-right: 10px;
            }
        }
    }
}
