.card-header-user {
    background-color: #c3f19d;
    .img-avatar {
        border-radius: 100%;
        border: 3px solid #fff;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 100%;
    }
}
