.header {
    width: 100%;
    min-height: 70px;
    padding: 10px 0;
    background: linear-gradient(0deg, rgba(45, 253, 170, 1) 0%, rgba(43, 207, 48, 1) 100%);
    .announcement {
        color: var(--white);
        p {
            margin-right: 6rem;
        }
        ul {
            font-size: 1.2rem;
            list-style: none;
            a {
                text-decoration: none;
                color: var(--white);
                margin-right: 2rem;
            }
        }
    }
    .pc-header {
        .search-button {
            background-color: rgb(0, 0, 0);
            border: 0;
            color: var(--white);
            width: 15%;
            border-top-right-radius: 5px;
        }
    }
}
