.header {
    width: 100%;
    min-height: 70px;
    padding: 10px 0;
    background: linear-gradient(0deg, rgba(45, 253, 170, 1) 0%, rgba(40, 195, 44, 1) 100%);
    .announcement {
        color: var(--white);
        ul {
            list-style: none;
            a {
                margin-right: 2rem;
            }
        }
    }
}
