.header {
    .head {
        background-color: #0f3460;
        padding: 10px 0;
        color: var(--white);
        p {
            margin: 0 6rem 0 0;
            span {
                margin-left: 1rem;
            }
        }
        ul {
            font-size: 18px;
            list-style: none;
            margin: 0;
            line-height: 0;
            a {
                text-decoration: none;
                color: var(--white);
                margin-right: 2rem;
            }
        }
    }
    .pc-header {
        .search {
            padding: 20px 18px 0;
            .header-logo {
                text-decoration: none;
                color: #0ed6b8;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 900;
                .img-logo {
                    height: 45px;
                    width: 40px;
                }
                .logo-title {
                    margin-left: 5px;
                }
            }
            input {
                outline: none;
            }
            .search-button {
                background-color: #0ed6b8;
                border: 0;
                color: var(--white);
                width: 15%;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            .cart,
            .notify,
            .user {
                font-size: 20px;
                margin-right: 20px;
            }
            .cart {
                position: relative;
                a {
                    margin-right: 2rem;
                    font-weight: 600;
                    .badge {
                        position: absolute;
                        padding: 4px;
                        background-color: #ff9b8a;
                        top: -10px;
                        left: 14px;
                        border-radius: 50%;
                        height: 20px;
                        width: 20px;
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
            .user {
                width: 50px;
                height: 50px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    border-radius: 50%;
                }
            }
        }
    }
    .header {
        height: 8vh;
        box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
        .categorise {
            background-color: #f6f9fc;
            padding: 0px 20px;
            border-radius: 5px;
            height: 6vh;
            margin-top: 5px;
            span {
                margin-right: 10px;
                font-size: 18px;
                margin-top: 5px;
            }
            h4 {
                font-weight: 700;
                margin-top: 12px;
                font-size: 1rem;
                .icon {
                    margin-left: 8px;
                    font-size: 0.75rem;
                }
            }
        }
        .navlink {
            ul {
                line-height: 8vh;
                padding-top: 30px;
                li {
                    margin-left: 30px;
                    a {
                        transition: 0.5s;
                        font-size: 15px;
                        font-weight: 400;
                        &:hover {
                            color: #ff014f;
                        }
                    }
                }
            }
        }
    }
}
