.header {
    width: 100%;
    min-height: 70px;
    padding: 10px 0;
    background: linear-gradient(0deg, rgba(34, 195, 161, 1) 0%, rgba(45, 253, 170, 1) 100%);
    .announcement {
        color: var(--text-white);
    }
}
