.home {
    margin-top: 20px;
    .adv {
        width: 25%;
        height: 430px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .adv-img {
            img {
                width: 100%;
                border-radius: 10px;
                object-fit: contain;
            }
        }
    }

    .homeSlide {
        box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
        background-color: #fff;
        width: 73%;
        height: 430px;
        // height: 70vh;
        padding: 10px;
        margin: 0 auto;
        .box {
            .left {
                h1 {
                    font-size: 45px;
                    line-height: 55px;
                    margin: 50px 0 20px 0;
                }
                p {
                    margin: 20px 0;
                }
                .btn-primary {
                    background: #e94560;
                    padding: 8px 40px;
                    font-weight: bold;
                    color: #fff;
                    border-radius: 5px;
                }
            }
            .right {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
        ul {
            position: absolute;
            bottom: -30px;
            li {
                border: 2px solid #b8b7b7;
                border-radius: 50%;
                padding: 10px;
                button {
                    background: transparent !important;
                    color: transparent !important;
                    &::before {
                        font-size: 15px !important;
                        color: #0f3460;
                        position: absolute;
                        top: 2px;
                        left: 0;
                        margin: auto;
                    }
                }
            }
        }
    }
}
