.location {
    padding: 50px 0 20px 0;

    .product {
        margin: 0 auto;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .top {
        height: 3px;
        width: 100%;
        background-position-x: -30px;
        background-size: 116px 3px;
        background-image: repeating-linear-gradient(
            45deg,
            #6fa6d6,
            #6fa6d6 33px,
            transparent 0,
            transparent 41px,
            #f18d9b 0,
            #f18d9b 74px,
            transparent 0,
            transparent 82px
        );
    }
    .header {
        color: var(--primary-color-web);
        font-size: 20px;
        margin-bottom: 20px;
        h4 {
            font-size: 20px;
            margin: 3px 0 0 10px;
        }
    }
    .address {
        font-size: 16px;
        span {
            font-weight: 600;
            margin-right: 20px;
        }
        button {
            text-decoration: none;
            color: rgb(59, 59, 247);
            margin-left: 50px;
        }
    }
    .address-list {
        div:last-child {
            border-bottom: none;
        }
        .address-item {
            padding: 20px 0;
            border-bottom: 1px solid #e3e3e3;
            .address {
                .name-phone {
                    span {
                        padding: 5px 10px 5px 0px;
                    }
                    .name {
                        border-right: 1px solid #b8b6b6;
                    }
                    .phone {
                        margin-left: 10px;
                        opacity: 0.6;
                    }
                }
                .address-content {
                    p {
                        margin: 0;
                        font-size: 14px;
                        opacity: 0.7;
                    }
                }
                .label {
                    margin-top: 5px;
                    span {
                        font-size: 14px;
                        padding: 3px 8px 2px 8px;
                        border: 1px solid var(--primary-color-web);
                    }
                }
            }
        }
    }
}
.productCheckout {
    padding: 5px 0;
    .product {
        margin: 0;
    }
    .cart-list {
        width: 100%;
        .cart-item {
            margin-bottom: 10px;
        }
        .cart-details {
            margin-bottom: 5px;
            .name {
                width: 40%;
                h4 {
                    font-size: 20px;
                    font-weight: 700;
                    margin-left: 20px;
                }
            }
            span {
                display: block;
                font-size: 16px;
                color: grey;
                margin-bottom: 40px;
            }
            h5 {
                font-size: 16px;
                text-align: end;
            }
        }
    }
    .delivery {
        margin-top: -7px;
        h6 {
            font-size: 18px;
            color: #00cdd4;
            margin: 0;
        }
        h5 {
            font-size: 16px;
            margin: 0;
        }
        button {
            font-size: 16px;
            display: block;
            margin-left: 10px;
        }
    }
    .finish {
        margin-top: 20px;
        .method-checkout {
            border-bottom: 2px solid #f1f0ed;
            margin-bottom: 10px;
            padding-bottom: 10px;
            h6 {
                margin: 0;
                font-size: 20px;
            }
            label {
                margin-left: 10px;
            }
        }
        .receipt {
            background-color: #fdf7e8;
            padding: 20px;
            flex-direction: column;
            align-items: end;
            h5 {
                font-size: 16px;
                width: 200px;
            }
            span {
                font-size: 16px;
            }
            h3 {
                font-size: 24px;
                font-weight: 600;
                color: var(--primary-color-web);
            }
            .line {
                border-bottom: 1px dashed #d8d8d6;
                width: 100%;
            }
            button {
                border: none;
                background-color: var(--primary-color-web);
                padding: 5px 40px;
                border-radius: 5px;
                margin-top: 10px;
                color: var(--white);
            }
        }
    }
}
.address-list {
    div:last-child {
        border-bottom: none;
    }
    .address-item {
        padding: 20px 0;
        border-bottom: 1px solid #e3e3e3;
        .address {
            .name-phone {
                span {
                    padding: 5px 10px 5px 0px;
                }
                .name {
                    border-right: 1px solid #b8b6b6;
                }
                .phone {
                    margin-left: 10px;
                    opacity: 0.6;
                }
            }
            .address-content {
                p {
                    margin: 0;
                    font-size: 14px;
                    opacity: 0.7;
                }
            }
            .label {
                margin-top: 5px;
                span {
                    font-size: 14px;
                    padding: 3px 8px 2px 8px;
                    border: 1px solid var(--primary-color-web);
                }
            }
        }
    }
}
