@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primary: #1cb803;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    --hover: #e9ecef;
    --text-sidebar: #29335d;
    --color-icon: #adb5bd;
    --border-form: #ced4da;
    --border-radius-form: 5px;
    --background-color-content-admin: #f8f9fa;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    // font-size: 62.5%;
}
body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
input,
select,
textarea {
    outline: none;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    color: #212529;
    &::placeholder {
        font-size: 1rem;
        color: #5a5959;
    }
}
input {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
}

.title {
    h2 {
        font-size: 1.5rem;
        font-weight: 800;
        margin: 0;
    }
}
///////// Card product
.card {
    .card-body {
        .img-wrap {
            padding: 10px 0;
            height: 220px;
            text-align: center;
            display: block;
            overflow: hidden;
            position: relative;
            img {
                max-width: 100%;
                width: auto;
                height: 100%;
                display: inline-block;
                object-fit: cover;
            }
        }
        .info-wrap {
            padding: 1rem;
            .title {
                display: block;
                font-size: 1.1rem;
                font-weight: 700;
                text-decoration: none;
                color: var(--text);
                margin-bottom: 10px;
            }
            .price {
                display: flex;
                justify-content: start;
                align-items: center;
                .original-price {
                    margin-right: 10px;
                    font-size: 14px;
                    color: #868282;
                    text-decoration: line-through;
                }
                .discount-price {
                    font-weight: 700;
                }
            }
        }
    }
}
