@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primary: #1cb803;
    --primary-color-web: #e94560;
    --black: #000;
    --white: #fff;
    --star-color: #f6a500;
    --text-color: #161823;
    --hover: #e9ecef;
    --text-sidebar: #29335d;
    --color-icon: #adb5bd;
    --border-form: #ced4da;
    --border-radius-form: 5px;
    --background-color-content-admin: #f8f9fa;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    // font-size: 62.5%;
}
body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
input,
select,
textarea {
    outline: none;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    color: #212529;
    &::placeholder {
        font-size: 1rem;
        color: #5a5959;
    }
}
input {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
}

.title {
    h2 {
        font-size: 1.5rem;
        font-weight: 800;
        margin: 0;
    }
}
/// background
.background {
    background: #f6f9fc;
}
///////// Card product
.product {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin: 10px;
    font-weight: 400;
    font-size: 17px;
    transition: 0.5s;
    &:hover {
        box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    }
    .discount {
        position: absolute;
        top: -6px;
        right: -6px;
        background: var(--primary-color-web);
        padding: 10px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 50%;
        color: #fff;
        margin: 10px;
    }
    .img-wrap {
        display: block;
        // width: 120px;
        height: 170px;
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .info-wrap {
        margin-top: 20px;
        .title {
            display: block;
            font-size: 1.1rem;
            text-decoration: none;
            color: var(--text);
        }
        .rate {
            font-size: 13px;
            .icon {
                margin-right: 4px;
                color: var(--star-color);
            }
        }
        .price {
            display: flex;
            justify-content: start;
            align-items: center;
            .original-price {
                margin-right: 10px;
                font-size: 14px;
                color: #868282;
                text-decoration: line-through;
            }
            .discount-price {
                color: var(--primary-color-web);
            }
        }
    }
}

// cart list
.cart-list {
    width: 70%;
    .cart-item {
        margin-bottom: 30px;
        .cart-details {
            .cart-image {
                width: 100px;
                height: 100px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .cart-info {
                margin-left: 30px;
                h4 {
                    font-size: 20px;
                    font-weight: 700;
                }
                h5 {
                    font-size: 16px;
                    font-weight: 500;
                    color: grey;
                }
                span {
                    color: var(--primary-color-web);
                }
            }
        }
        .cart-item-function {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
            button {
                width: 30px;
                height: 30px;
                border: 1px solid rgb(3 0 71 / 9%);
                border-radius: 5px;
                background: none;
                color: var(--primary-color-web);
                font-size: 18px;
                padding: 3px 5px;
                &:hover {
                    background-color: rgb(3 0 71 / 9%);
                }
            }
            .cart-remove {
                margin-bottom: 60px;
                button {
                    padding: 3px 5px 1px 5px;
                }
            }
            .cart-control {
                .decBtn {
                    margin-left: 20px;
                }
            }
        }
    }
}
