.card {
    .card-body {
        .img-wrap {
            height: 220px;
            text-align: center;
            display: block;
            overflow: hidden;
            position: relative;
        }
    }
}
