.card {
    .card-body {
        .img-wrap {
            height: 220px;
            text-align: center;
            display: block;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                display: inline-block;
                object-fit: cover;
            }
        }
    }
}
