.product-detail {
    padding: 50px 0;
    background: #f6f9fc;
    .product {
        margin: 0 auto;
    }
    .product-imgs {
        width: 30%;
    }
    .product-des {
        width: 60%;
        .info {
            span {
                .icon {
                    color: #ffcd4e;
                    font-size: 15px;
                    margin-right: 5px;
                }
                span {
                    color: #f0b624;
                    font-size: 14px;
                    font-weight: 400;
                    margin-left: 10px;
                }
            }
        }
        .price {
            margin-top: 15px;
            h3 {
                font-size: 2rem;
                font-weight: 600;
                color: var(--primary-color-web);
                margin-right: 20px;
            }
            h5 {
                font-size: 1rem;
                font-weight: 400;
                position: relative;
                text-decoration: line-through;
            }
            span {
                display: block;
                padding: 4px 5px 2px 5px;
                border-radius: 5px;
                background-color: var(--primary-color-web);
                color: var(--white);
                margin-bottom: 10px;
                margin-left: 12px;
                font-size: 1rem;
                font-weight: 600;
            }
        }
        .quantity {
            margin-top: 10px;
            h4 {
                font-size: 1.1rem;
                font-weight: 600;
                margin-top: 12px;
            }
            .button-qty {
                margin-left: 50px;
                border: 1px solid #9fa7ab;
                border-radius: 5px;
                padding: 0 16px;
                button {
                    background: none;
                    font-size: 1.1rem;
                    padding: 5px 5px 5px 5px;
                    border: none;
                    color: #9fa7ab;
                    height: 30px;
                }
                span {
                    font-size: 1.2rem;
                    margin: 0 16px;
                }
            }
        }
        .control-btn {
            button {
                border: none;
                background: none;
                padding: 8px 50px;
                border-radius: 10px;
            }
            .add-to-cart {
                margin-right: 30px;
                border: 2px solid var(--primary-color-web);
                color: var(--primary-color-web);
                font-weight: 600;
                span {
                    margin-right: 10px;
                }
            }
            .buy-now {
                background-color: var(--primary-color-web);
                color: var(--white);
                font-weight: 500;
            }
        }
    }
}
