.subscribe-section {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.226)),
        url(https://sasshoes-com.s3.us-west-2.amazonaws.com/img/banner-uplift-21.jpg) no-repeat scroll 50% / cover;
    padding: 100px 0;
    .subscribe-head {
        text-align: center;
    }
}
