.location {
    padding: 50px 0;
    .product {
        margin: 0 auto;
        border-top: 1px solid red;
    }
    .header {
        color: var(--primary-color-web);
        font-size: 20px;
        h4 {
            font-size: 20px;
            margin: 3px 0 0 10px;
        }
    }
}
