.location {
    padding: 50px 0;
    .top {
        height: 3px;
        width: 100%;
        background-position-x: -30px;
        background-size: 116px 3px;
        background-image: repeating-linear-gradient(
            45deg,
            #6fa6d6,
            #6fa6d6 33px,
            transparent 0,
            transparent 41px,
            #f18d9b 0,
            #f18d9b 74px,
            transparent 0,
            transparent 82px
        );
    }
    .product {
        margin: 0 auto;
        border-top: 1px solid red;
    }
    .header {
        color: var(--primary-color-web);
        font-size: 20px;
        h4 {
            font-size: 20px;
            margin: 3px 0 0 10px;
        }
    }
}
