.productCheckout {
    padding: 5px 0;
    .product {
        margin: 0;
    }
    .cart-list {
        width: 100%;
        .cart-item {
            margin-bottom: 5px;
            .cart-image {
                h4 {
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
    }
}
