.login {
    padding: 20px;
    .wapper {
        height: 480px;
        width: 400px;
        margin: 20px auto;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}
