.login {
    padding: 20px;
    .wapper {
        height: 480px;
        width: 400px;
        margin: 20px auto;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        header {
            padding-bottom: 20px;
            border-bottom: 1px solid #26aa99;
            h3 {
                margin: 0;
            }
            .img {
                width: 20%;
                height: 50px;
                margin-left: 60px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        form {
            margin-top: 30px;
            button {
                border: none;
                width: 100%;
                color: var(--white);
                background-color: var(--primary-color-web);
                padding: 5px 0;
                border-radius: 5px;
            }
        }
        .forget-pass {
            margin-top: 5px;
            a {
                font-size: 14px;
                color: #0e4cc0;
            }
        }
        span {
            display: block;
            padding: 10px 30px;
            text-align: center;
            color: #94877e;
            font-size: 12px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 18px;
                right: 0;
                width: 138px;
                height: 1px;
                background-color: #ecd9ca;
            }
            &::after {
                content: '';
                position: absolute;
                top: 18px;
                left: 0;
                width: 138px;
                height: 1px;
                background-color: #ecd9ca;
            }
        }
        .face-google {
            a {
                .img {
                    width: 20px;
                    height: 20px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
