.login {
    padding: 20px;
    .wapper {
        height: 480px;
        width: 400px;
        margin: 20px auto;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        header {
            border-bottom: 1px solid #e3e3e3;
            .img {
                height: 50px;
                width: 50%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
