.content-header {
    margin-bottom: 30px;
}
.card {
    .card-header {
        .header-bg {
            background-color: #4fa607;
        }
        .row {
            select {
                max-width: 200px;
            }
        }
    }
    .card-body {
        article {
            span {
            }
        }
    }
}
